@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color:rgba(127, 210, 240, 0.701) ;
}

.quote_box{
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgb(70, 70, 70);
}

.quote_box h2{
    font-size: 2rem;
    margin-bottom: 40px;
    position: relative;
}

.quote_box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 5px;
    background: rgb(99, 175, 232);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.quote_box blockquote{
    font-size: 26px;
    min-height: 110px;
}

.quote_box blockquote::before,.quote_box blockquote::after{
    content: '"';
}

.quote_box span{
    display: block;
    margin: 10px;
    float: right;
    position: relative;
}

.quote_box span::before{
    content: '~ ';
    width: 20px;
    height: 2px;
    /* background-color: rgb(99, 175, 232); */
    position: absolute;
    /* top: 50%; */
    left: -20px;
}
.quote_box div{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.quote_box button{
    background-color:rgba(127, 210, 240, 0.701);
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid white;
    padding: 8px 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.quote_box button:hover{
    background-color: rgb(73, 151, 151);
    transition:0.5s ;
}

.quote_box button img{
    margin-right: 6px;
    width: 25px;
}

.quote_box button:nth-child(2){
    background: transparent;
    border: 1px solid black;
}

.quote_box button:nth-child(2):hover{
    background: rgb(9, 9, 9);
    border: 1px solid white;
    color: white;
}
